[Armageddon, Test Fit]
1600mm Steel Plates II
1600mm Steel Plates II
1600mm Steel Plates II
Multispectrum Energized Membrane II
Multispectrum Energized Membrane II
Multispectrum Energized Membrane II
Damage Control II

500MN Quad LiF Restrained Microwarpdrive
Heavy Jigoro Enduring Stasis Grappler
Faint Epsilon Scoped Warp Scrambler
Heavy F-RX Compact Capacitor Booster

Large I-ax Enduring Remote Armor Repairer
'Arbalest' Rapid Heavy Missile Launcher I
'Arbalest' Rapid Heavy Missile Launcher I
'Arbalest' Rapid Heavy Missile Launcher I
'Arbalest' Rapid Heavy Missile Launcher I
'Arbalest' Rapid Heavy Missile Launcher I
Heavy Gremlin Compact Energy Neutralizer

Large Higgs Anchor I
Large Trimark Armor Pump I
Large Trimark Armor Pump I



Hornet I x5
Wasp I x10
Caldari Navy Vespa x5
Vespa I x5

Caldari Navy Mjolnir Heavy Missile x1200
Nova Heavy Missile x1200
Inferno Heavy Missile x1200
Navy Cap Booster 3200 x5
Nanite Repair Paste x128
Core Scanner Probe I x24
100MN Monopropellant Enduring Afterburner x1
Parallel Enduring Target Painter x1
Explosive Coating II x1
Core Probe Launcher I x1
Large Armor Repairer II x1
Multispectrum Coating II x1
Heavy Gremlin Compact Energy Neutralizer x1
Mobile Depot x1


